#!/usr/bin/env python
#coding:utf-8

import os
import sys
import urllib
import urllib2
from supervisor import childutils

def notify(message):
    host = 'https://notify-api.line.me/api/notify'
    data = { 'message': message }

    req = urllib2.Request(
        url=host,
        data=urllib.urlencode(data),
        headers={'authorization': 'Bearer {{ line_notify_token }}'}
    )
    res = urllib2.urlopen(req)
    sys.stderr.write(res.read() + '\n')
    sys.stderr.flush()

def main():
    while True:
        headers, payload = childutils.listener.wait()
        notify(payload)
        childutils.listener.ok()

if __name__ == '__main__':
    main()
